body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "LoveloLineLight";
  src: local("LoveloLineLight"),
    url("./fonts/Lovelo/Lovelo-Line-Light.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "SourceCode";
  src: local("SourceCode"),
    url("./fonts/SourceCodeVariable/SourceCodeVariable-Roman.otf")
      format("truetype");
  font-weight: normal;
}
