.notFound {
  background-color: #4f7662;
  padding-top: 10%;
  height: 100vh;
  width: 100vw;
  font-family: "SourceCode", san-serif;
}
/* 
@media screen and (min-width: 320px) and (max-width: 767px) {
  .notFound {
    padding-top: 25%;
  }
} */
